<HTML>

<head>{% block head %}{% endblock %}
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('#datepicker').datepicker({  minDate: 0, dateFormat: 'dd/mm/yy' });
	});
</script>
{% block scripts %}{% endblock %}
<title>Create User</title>

</head>

<BODY>
{% if user_form.errors or userprofile_form.errors or partners_form.errors%}
        <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

<form action="." method="post">

{% for field in user_form %}
    <div class="fieldWrapper">
      {{ field.label_tag }}: {{ field }}
        {% for error in field.errors %}
                <b class=errors> {{ error }} </b>
        {% endfor %}
    </div>
{% endfor %}

{% for field in userprofile_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }}: {{ field }}
        {% for error in field.errors %}
                <b class=errors> {{ error }} </b>
        {% endfor %}
    </div>
{% endfor %}

<div id="partnerts_info_table">
	<table cellspacing="20">
		<div id ="partner1_info">
			<td>
			<p><b>Partners Details :</b></p>
			{% for field in partners_form %}
				<div class="fieldWrapper">
					{{ field.label_tag }}: {{ field }}
					{% for error in field.errors %}
							<b class=errors> {{ error }} </b>
					{% endfor %}
				</div>
			{% endfor %}
			</td>
		</div>
	</table>
</div>

<input type="submit" value="Submit" />
{% csrf_token %}
</form>

</BODY>
</HTML>
