<HTML>
<BODY>
{% if user_form.errors or userprofile_form.errors or partner1_form.errors or partner2_form.errors%}
        <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

<form action="." method="post">

{% for field in user_form %}
    <div class="fieldWrapper">
      {{ field.label_tag }}: {{ field }}
        {% for error in field.errors %}
                <b class=errors> {{ error }} </b>
        {% endfor %}
    </div>
{% endfor %}

{% for field in userprofile_form %}
    <div class="fieldWrapper">
        {{ field.label_tag }}: {{ field }}
        {% for error in field.errors %}
                <b class=errors> {{ error }} </b>
        {% endfor %}
    </div>
{% endfor %}

<div id="partnerts_info_table">
    <table cellspacing="20">
		<td>
		<p><b>Partner 1 Details :</b></p>
		{% for field in partner1_form %}
			<div class="fieldWrapper">
				{{ field.label_tag }}: {{ field }}
				{% for error in field.errors %}
						<b class=errors> {{ error }} </b>
				{% endfor %}
			</div>
		{% endfor %}
		</td>
		<td>
		<p><b>Partner 2 Details :</b></p>
		{% for field in partner2_form %}
			<div class="fieldWrapper">
				{{ field.label_tag }}: {{ field }}
				{% for error in field.errors %}
						<b class=errors> {{ error }} </b>
				{% endfor %}
			</div>
		{% endfor %}
		</td>
	</table>
  </div>

<input type="submit" value="Submit" />
{% csrf_token %}
</form>

</BODY>
</HTML>
