<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Repreduce Password 2Seat</title>
<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/page/page.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">
	
	$(document).ready(function() {
	
	$('#datepicker').datepicker({  minDate: 0, dateFormat: 'dd/mm/yy' });
		$.datepicker.regional['he'] = {
                closeText: 'סגור',
                prevText: '&#x3c;הקודם',
                nextText: 'הבא&#x3e;',
                currentText: 'היום',
                monthNames: ['ינואר','פברואר','מרץ','אפריל','מאי','יוני',
                'יולי','אוגוסט','ספטמבר','אוקטובר','נובמבר','דצמבר'],
                monthNamesShort: ['1','2','3','4','5','6',
                '7','8','9','10','11','12'],
                dayNames: ['ראשון','שני','שלישי','רביעי','חמישי','שישי','שבת'],
                dayNamesShort: ['א\'','ב\'','ג\'','ד\'','ה\'','ו\'','שבת'],
                dayNamesMin: ['א\'','ב\'','ג\'','ד\'','ה\'','ו\'','שבת'],
                weekHeader: 'Wk',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: true,
                showMonthAfterYear: false,
                yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['he']);
		
		$("#sendBtn").mouseout(function(){
			$(this).attr('src',"/static/page/images/send_btn_nr.png");
		});
		$("#sendBtn").mouseover(function(){
			$(this).attr('src',"/static/page/images/send_btn.png");
		});

	});
	
</script>
</head>

<body id="pagebody">
<div id="content">
  <table width="658" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="12" height="12" valign="top"><img src="/static/page/images/tl.png" width="12" height="20" border="0" /></td>
      <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" height="12" valign="top"><img src="/static/page/images/logo_t.png" width="195" height="20" border="0" /></td>
    </tr>
    <tr>
      <td width="12" bgcolor="#FFFFFF">&nbsp;</td>
      <td align="right"  dir= "rtl" valign="top" bgcolor="#FFFFFF">
	  {% block content %}
	  <form action="" method="post">
	  <p class="titles_blue">החלפת סיסמא {{first_name}} {{last_name}}</p></br><label for="datelbl" class="titles_black">תאריך אירוע:</label>&nbsp;&nbsp;&nbsp;<span><input type="text" name="datepicker" value="" id="datepicker"></span></br><label for="password" class="titles_black">סיסמא חדשה:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="password" name="password" value="" id="password"></br></br></br>
		<input id="sendBtn" type="image" src="/static/page/images/send_btn_nr.png" value="Submit" style="border: 0;">
		{% csrf_token %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accounts/new/"><img style="border: 0;" id="createBtn" src="/static/page/images/create_account_n.png"></img></a>
		</form>
		{% endblock %}
		</td>
      <td width="30" align="right" valign="top" bgcolor="#FFFFFF"  dir= "rtl">&nbsp;</td>
      <td width="195" valign="top" bgcolor="#5A8EA3"><img src="/static/page/images/logo.png" width="195" height="259" /></td>
    </tr>
    <tr>
      <td width="12" valign="top"><img src="/static/page/images/bl.png" width="12" height="20" /></td>
      <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" valign="top"><img src="/static/page/images/bt_r.png" width="195" height="20" /></td>
    </tr>
  </table>
  <img src="/static/page/images/shadow.png" width="658" height="26" />
  </br>
  <!--</br>
  </br>
  </br>
  <a href="/static/site/contact.html"><img class="advertisingImg" src="/static/site/images/Advertising.png"/></a>-->
  </div>
</body>
</html>