<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome 2Seat</title>
<link rel="stylesheet" type="text/css" href="/static/page/page.css" />
</head>

<body id="pagebody">
<div id="content">
  <table width="658" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="12" height="12" valign="top"><img src="/static/page/images/tl.png" width="12" height="20" border="0" /></td>
      <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" height="12" valign="top"><img src="/static/page/images/logo_t.png" width="195" height="20" border="0" /></td>
    </tr>
    <tr>
      <td width="12" bgcolor="#FFFFFF">&nbsp;</td>
      <td align="right"  dir= "rtl" valign="top" bgcolor="#FFFFFF"><p class="titles_black"> האירוע של <span class="titles_blue">{{ partners.partner1_first_name }} {{addChar}} {{ partners.partner2_first_name }} {{ last_name }} <br />
        </span><span class="text_16_black">המתקיים בתאריך {{date}}</span><span class="titles_black"><br />
        </span><span class="text_14_black">ב {{place}}</span></p><br /><br /><br />
		<a href="/canvas/edit"><img style="border: 0;" src="/static/page/images/enter_btn.png"></img></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/accounts/logout"><img style="border: 0;" src="/static/page/images/end_btn.png"></img></a></td>
      <td width="30" align="right" valign="top" bgcolor="#FFFFFF"  dir= "rtl">&nbsp;</td>
      <td width="195" valign="top" bgcolor="#5A8EA3"><img src="/static/page/images/logo.png" width="195" height="259" /></td>
    </tr>
    <tr>
      <td width="12" valign="top"><img src="/static/page/images/bl.png" width="12" height="20" /></td>
      <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" valign="top"><img src="/static/page/images/bt_r.png" width="195" height="20" /></td>
    </tr>
  </table>
  <img src="/static/page/images/shadow.png" width="658" height="26" /></div>
</body>
</html>