<HTML>
<BODY>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script language=javascript>
var csrf_token = "{{ csrf_token }}";

$("body").bind("ajaxSend", function(elm, xhr, s){
   if (s.type == "POST") {
      xhr.setRequestHeader('X-CSRFToken', csrf_token);
   }
});

function sendMail(partners, mail)
{
	$.post("../sendWelcome/", { partners: partners, mail: mail} );
}
</script>
<table border=1>
<tr>
<td>ID</td><td>Join Date</td><td>Name</td><td>Last Login</td><td>Email</td><td>Occ Date</td><td>Welcomen</td>
</tr>
{% for i in list %}
<tr>
<td>{{ i.id }}</td>
<td>{{ i.join }}</td>
<td>{{ i.name }}</td>
<td>{{ i.login }}</td>
<td>{{ i.email }}</td>
<td>{{ i.date }}</td>
<td><img src="http://www.telono.com/__layout/_statics/icon_welcome.png" width=64 height=42 onclick="sendMail('{{ i.name }}', '{{ i.email}}')"></td>
</tr>
{% endfor %}

</table>
