<script language="javascript" src="/static/CodeThatGrid/Scripts/Codecodethatsdk.js"></script> 	
<script language="javascript" src="/static/CodeThatGrid/Scripts/codethattype.js"></script> 
<script language="javascript" src="/static/CodeThatGrid/Scripts/codethatgridpro.js"></script>

<script language="javascript1.2">
var CodeThatGrid = new CCodeThatGrid("CodeThatGrid", 100, 12);
CodeThatGrid.init(gridDef); 		// data initialization from gridDef object
CodeThatGrid.doAction(); 	// start action
</script>


