 .DragDiv
 {
  background-color:white;
  position:absolute;
 }
 .ElemImg
 {
  width:90px;
  height:90px;
 }
 .MenuItem 
 {
  width:45px;
  height:45px;
 }
 ul, li 
 {
  margin:0;
  padding:0;
  list-style:none;
 }
 .AddMenu 
 {
  display:none;
  width:45px;
  border:1px solid #1c1c1c;
  margin-top:50px;
 }
.AddPersonDiv
{
  direction:rtl;
}
.AddPerson
{
  display:none;
}
 .AddDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:0px;
  top:0px;
 }
 .DelDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:50px;
  top:3px;
 }
 .SaveStat
 {
  position:absolute;
  bottom:0;
  right:0;
 }
 #right-bar
 {
  float:right;
 }
 #canvas-div
 {
  float:left;
 }
 #people-list
 {
  border:2px solid blue;
  padding: 4px;
 }
 #people_list li
 {
  direction: rtl;
  list-style-image:url("/static/canvas/icons/blue-man-icon.gif");
  list-style-position:inside;
 }

