 .DragDiv
 {
  background-color:white;
  position:absolute;
 }
 .ElemImg
 {
  width:90px;
  height:90px;
 }
 .MenuItem 
 {
  width:45px;
  height:45px;
 }
 ul, li 
 {
  margin:0;
  padding:0;
  list-style:none;
 }
 .AddMenu 
 {
  display:none;
  width:45px;
  border:1px solid #1c1c1c;
  margin-top:10px;
 }
.AddPersonDiv
{
  direction:rtl;
}
.AddPerson
{
  display:none;
}
 .AddDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:5px;
  top:0px;
 }
 .DelDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:55px;
  top:3px;
 }
 .UndoDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:105px;
  top:3px;
 }
 .NumOfItemSelect
 {
  margin:5px 0px;
 }
 .PropertyText
 { 
  margin:0;
  font-size:11.5;
  font-weight:bold;
  float:left;
 }
 .SaveStat
 {
  position:absolute;
  bottom:0;
  right:0;
 }
 .StatusImg
 {
  width:16px;
  height:16px;
 }
 #right-bar
 {
  float:right;
  width:125px;
 }
 #right-middel-bar
 {
  float:right;
  width:125px;
  margin-top:5px;
 }
 #canvas-div
 {
  float:left;
  border:4px solid blue;
  margin-top:40px;
  width:90%;
  height:92.5%;
 }
 #people-list
 {
  margin-top:40px;
  border:2px solid blue;
  padding: 4px;
  overflow: auto;
  height:150px;
 }
 #people_list li
 {
  direction: rtl;
  list-style-image:url("/static/canvas/icons/blue-man-icon.gif");
  list-style-position:inside;
 }
 #element-properties-list
 {
  border:2px solid blue;
  padding: 4px;
 }
 #ElementStatus
 {
  position:absolute;
  left: 80;
  top: 0;
  z-index:1;
 }
 

