   .CanvasDiv
 {
  float:left;
  border:4px solid #5A8EA3;
  background-image: url("/static/canvas/images/GrayOverlay.png");
  background-repeat: none;
  background-position: center;
  background-size: 100% 100%;
  -moz-background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/GrayOverlay.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/GrayOverlay.png',sizingMethod='scale');
  margin-top:28px;
  width:1195px;
  height:630px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 }
  .SelectionRectangle
  {
  background:#5A8EA3;
  opacity:0.35;
  border:2px groove;
  position:absolute;
  }
  .BlackOverlayRectangle
  {
  background:#5A8EA3;
  opacity:0.75;
  border:2px groove;
  position:absolute;
  z-index:99999;
  }
  
  .RectShapeDropLayer
   {
	background-color:rgba(127, 32, 7, 0.65);
	background-size: 0% 0%;
	-moz-background-size: 0%;
	z-index:9999;
  }
  
  .RoundShapeDropLayer
   {
	background-color:rgba(127, 32, 7, 0.65);
	background-size: 0% 0%;
	-moz-background-size: 0%;
	z-index:9999;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	 border-radius: 50px;
  }
  
   .LozShapeDropLayer
   {
	background-color:rgba(127, 32, 7, 0.65);
	background-size: 0% 0%;
	-moz-background-size: 0%;
	z-index:9999;
  }
  
 #right-bar
 {
  position:absolute;
  width:125px;
  top: 28;
  left:1197;
 }
 #right-middel-bar
 {
  position:absolute;
  float:right;
  width:155px;
  margin-top:5px;
 }
 #float-list
 {
  position:absolute;
  top:-17px;
  left:17;
  z-index:99988;
 }
 #element-properties-list
 {
  z-index:999;
  position:absolute;
  padding: 4px;
  width:120;
  display:none;
 }
 #search-properties-list
  {
  position:absolute;
  padding: 4px;
  width:120;
  top:354;
  left:1201;
 }
  #occasionDetailsR
  {
  position:absolute;
  padding: 4px;
  width:135;
  top:490;
  left:1201;
 }
  #occasionDetailsAdvanceR
   {
  display:none;
  position:absolute;
  padding: 4px;
  width:135;
  top:490;
  left:965;
  z-index:9999999999;
 }
 #ElementStatus
 {
  position:absolute;
  right: 0;
  top: 0;
  z-index:1;
 }
  #AddPersonList
 {
  position:absolute;
  padding: 4px;
  width:127;
  top:-21px;
  left:-124;
  height:175px;
  z-index:9999999999;
 }
 #canvasShadow
 {
	position:absolute;
	left:5px;
	top:673px;
	width:1195px;
	height:15px;
	background-image: url("/static/canvas/images/canvasShadow.png");
	background-repeat: no-repeat;
}
 .SaveState
 {
  position:absolute;
  top:36px;
  left:1085px;
  direction:rtl;
  width:122;
 }
 
 .borderSelected
 {
  z-index:999;
 }
 
 .broderNonDragSelected
 {
   border:2px solid #5A8EA3;
  z-index:999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 }
 
.tableBack
{
	visibility:collapse;
	cursor:pointer;
}
 
 #setting
 {
	cursor:pointer;
	float:left; 
 }
 
 .emailGuestStatus
 {
	margin-top:2.5;
 }
 
.advertisingImgCanvas{
	width: 220px;
	height: 25px;
	border:1px solid black;
}

.MenuHeader
{
	display:block;
	overflow:auto;
	background-image: url("/static/canvas/images/MenuHeader.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuHader.png',sizingMethod='scale');
   -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuHader.png',sizingMethod='scale');
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100%;
}

.MenuHeaderConnector
{
	display:block;
    overflow:auto;
	background-image: url("/static/canvas/images/MenuHeaderConnector.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuHeaderConnector.png',sizingMethod='scale');
   -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuHeaderConnector.png',sizingMethod='scale');
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100%;
}

.MenuFooterConnector
{
	display:block;
	overflow:auto;
	background-image: url("/static/canvas/images/MenuFooterConnector.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuFooterConnector.png',sizingMethod='scale');
   -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuFooterConnector.png',sizingMethod='scale');
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100%;
}

.MenuFooter
{
	display:block;
	overflow:auto;
	background-image: url("/static/canvas/images/MenuFooter.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuFooter.png',sizingMethod='scale');
   -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MenuFooter.png',sizingMethod='scale');
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 100% 100%;
	-moz-background-size: 100%;
}

  .TableElementDiv
 {
  background-image: url("/static/canvas/images/Chair.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/Chair.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/Chair.png',sizingMethod='scale');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 
   .TableOccElementDiv
 {
  overflow:auto;
  background-image: url("/static/canvas/images/ChairOcc.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/ChairOcc.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/ChairOcc.png',sizingMethod='scale');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 
 
  .ChargeDiv
 {
  position:absolute;
  background-color:#5A8EA3; 
  z-index:99999;
  border:4px solid #5A8EA3;
  margin-top:28px;
  width:1195px;
  height:630px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 }
