 #canvasbody
 {
	background-image: url("/static/canvas/images/background.png");
	background-repeat: repeat-x;
}
 #newbody
 {
 	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url("/static/canvas/images/background.png");
	background-repeat: repeat-x;
}
 .DragDiv
 {
  display:block;
  cursor:pointer;
  position:absolute;
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
 }
 
  .DragNonDropDiv
 {
  position:absolute;
  cursor:pointer;
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
 }
 
 .DragTable
 {
   margin-top:16.5%;
   width:95%;
   position:relative;
   z-index:9999;
   overflow: hidden;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   white-space: nowrap;
 }
 
 .TableParentElementDiv
 {
     position:absolute;
	-webkit-user-select: none;
    -khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
    user-select: none;
 }
 
 .TableParentElementDivOutside
 {
   position:absolute;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
 }
 
  .TableElementDiv64
 {
  background-image: url("/static/canvas/images/Chair64.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/Chair64.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/Chair64.png',sizingMethod='scale');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 
   .TableOccElementDiv64
 {
  overflow:auto;
  background-image: url("/static/canvas/images/ChairOcc64.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/ChairOcc64.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/ChairOcc64.png',sizingMethod='scale');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 
 .TableEmptyDetails
 {
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;	
    text-align:center;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
 }
 
 .WaitingPersonChair
 {
  background-image: url("/static/canvas/images/circleHourGlass.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/circleHourGlass.png',sizingMethod='scale');
  -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/circleHourGlass.png',sizingMethod='scale');
  background-position:center;
  background-repeat:no-repeat;
  background-size: 98% 98%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 
 .Pointer
 {
   cursor:pointer;
 }
 .PersonDetailsDiv
 {
  border:1px solid black;
 }
 .PersonDetailsArea
 {
  background:#efefef;
 }
 .FeatureArea
 {
  background:#efefef;
 }
  .ExcelUDArea
 {
  background:white;
 }
 .ElemImg
 {
  width:90px;
  height:90px;
 }
 .MenuItem 
 {
  width:45px;
  height:45px;
 }
 .RectMenuItem
 {
  width:40px;
  height:55px;
 }
 ul, li 
 {
  margin:0;
  padding:0;
  list-style:none;
 }
 .AddMenu 
 {
  display:none;
  position:absolute;
  width:55px;
  padding:1px;
  border:1px solid #1c1c1c;
  top:40px;
  left:20px;
  z-index:99999;
  background-image: url("/static/canvas/images/background.png");
  background-repeat: repeat-x;
 }
  .ShapePlacementMenu 
 {
  display:none;
  position:absolute;
  width: 175px;
  border:1px solid #1c1c1c;
  top:40px;
  left:295px;
  z-index:9999;
  background-image: url("/static/canvas/images/background.png");
  background-repeat: repeat-x;
 }
 .AligmentMenu 
 {
  display:none;
  position:absolute;
  width: 40px;
  border:1px solid #1c1c1c;
  top:40px;
  left:240px;
  z-index:99999;
  background-image: url("/static/canvas/images/background.png");
  background-repeat: repeat-x;
 }
.DelPersonDiv
{
  cursor : pointer;
  direction:rtl;
}
.AddPerson
{
  display:none;
}
 .AddDiv
 {
  position:absolute;
  left:15px;
  top:-2px;
  cursor:pointer;
 }
 .DelDiv
 {
  position:absolute;
  left:72px;
  top:-2px;	
  cursor:pointer;
 }
 .UndoDiv
 {
  position:absolute;
  left:129px;
  top:-2px;
  cursor:pointer;
 }
 .SpinDiv
 {
  position:absolute;
  left:186px;
  top:-2px;
  cursor:pointer;
 }
 .PlaceMentShapesDiv
 {
  position:absolute;
  left:300px;
  top:-2px;
  cursor:pointer;
 }
 .MoneyInfoDiv
 {
  position:absolute;
  left:357px;
  top:-2px;
  cursor:pointer;
 }
 .OccasionFinishDiv
  {
  position:absolute;
  left:414px;
  top:-2px;
  cursor:pointer;
 }
 .EUDDiv
  {
  position:absolute;
  left:471px;
  top:-2px;
  cursor:pointer;
 }
 
  .HelpCanvasDiv
 {
   position:absolute;
   left:528px;
   top:-2px;	
   cursor:pointer;
 }
 
 .ExitCanvasDiv
 {
   position:absolute;
   left:585px;
   top:-2px;	
   cursor:pointer;
 }
  .AligmentDiv
 {
  position:absolute;
  left:243px;
  top:-2px;
  cursor:pointer;
 }
 .NumOfItemSelect
 {
  margin:5px 0px;
 }
 .GroupSelect
 {
 }
 .PropertyText
 { 
  margin:0;
  font-size:11.5;
  font-weight:bold;
  float:left;
 }
 .StatusImg
 {
  min-width:5px;
  min-height:5px;
  width:16px;
  height:16px;
  max-width:25px;
  max-height:25px;
 }
  .TableElemImg
 {
  background-color:white;
  width:64px;
  height:64px;
 }

 .floatRight
 {
   float:right;
 }
 .floatleft
 {
   float:left;
 }
  .SimpleFrame
  {
  background:white;
  border:2px groove;
  position:absolute;
  z-index:99999;
  }
 .Properties-bar
 {
 }
 .Property
 {
  cursor:pointer;
 }
 
 .tableProp
{
  cursor:pointer;
}

 .tableDelProp
{
}

 #people-list
 {
	height:200;
	width:125;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
 }
 
  #people-list li
 {
	cursor:pointer;
 }
 
 .femaleli
 {
  padding: 4px;
  direction: rtl;
  list-style-image:url("/static/canvas/icons/Woman_16X16.png");
  list-style-position:inside;
  z-index:15;
  text-align:right;
  overflow:auto;
 }
 .maleli
 {
  padding: 4px;
  direction: rtl;
  list-style-image:url("/static/canvas/icons/Man_16X16.png");
  list-style-position:inside;
  z-index:15;
  text-align:right;
  overflow:auto;
 }
 #SeatedLabel
 {
 } 
 #SeatedLabelValue
 {
 }
 #TotalGuestsLabel
 {
 } 
 #TotalGuestsLabelValue
{
 }
 #mainPanelPattren
 {
  position:absolute;
  left:10px;
  top:1px;
 }
 select { 
 font-size: 0.9em;
}
.ui-multisort-grouped {
	background:aliceblue;
}
.ui-multisort-click {
	color:purple;
	font-size: 1.03em;
	border:1.5px solid purple;
    z-index:999;
	/* For any browser that can't create a gradient  */
    background-color: #EFEFEF;
    /*//mozilla*/
    background: -moz-linear-gradient(top, #efefef, #FFF);
    /* Chrome/Safari     */
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#FFF));
    /*IE 6/7 */ filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EFEFEF',EndColorStr='#FFF');
    /*IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#FFF)";
	
}
#OperationList
{
	overflow:auto;
	height:270;
}
.class_overflow_auto
{
	overflow:auto;
}
.class_overflow_hidden
{
	overflow:hidden;
}
.titles_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #5A8EA3;
	margin-right: 2px;
	font-weight: bold;
	font-style: italic;
	text-shadow:1px 1px blue;
}
.titles_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	margin-right: 2px;
	font-weight: bold;
	font-style: italic;
	text-shadow:1px 1px blue;
}
.text_11_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
}
.text_11_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
}
.text_11_black_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
	font-weight: bold;
}
.text_14_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
}
.text_18_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
}
.text_10_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
}
.text_9_black_bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-right: 0px;
	font-weight: normal;
	line-height: 20px;
	font-weight: bold;
}

.CloseBtn
{
	cursor:pointer;
	margin-top:15;
	margin-left:15;
}

#emailNotificationList
{
  border:1px solid #ABADB3;
  overflow:auto;
  height:130px;
  width:295px;
  background:#5A8EA3;
}

#notify_message
{
	resize:none;
	height:130px;
	width:195px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
 
  .borderPersonSelected
 {
  border:2px solid #5A8EA3;
  z-index:999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
 }
 
 .InvationStatusBtn
 {
 	cursor:pointer;
 }
 
 .FloatListGate
 {
	 border-top:5px solid #5A8EA3;
	 border-bottom:5px solid #5A8EA3;
	 background:white;
	 position:absolute;
	 width:139;
	 z-index:99988;
 }
 .dropLayerClass
 {
	background-color:#7E2007;
	z-index:9999;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	border-radius: 33px;
 }
.ui-autocomplete {
	max-height: 100px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: right;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.MainPanelYellow
{
	display:block;
	overflow:auto;
	background-image: url("/static/canvas/images/MainPanelYellow.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MainPanelYellow.png',sizingMethod='scale');
   -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/canvas/images/MainPanelYellow.png',sizingMethod='scale');
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 110% 100%;
	-moz-background-size: 100%;
}

.DisBlock
{
	display:block;
}

.peopleListExpander
{
 	cursor:pointer;
}

.actionBtn
{
}

