 .Main
 {
 }
 
 #CounterData
 {
   position:absolute;
   top: 970;
   left: 355;
 }
 
  .NewSimpleFrame
  {
  background:white;
  position:absolute;
  z-index:99999;
  height:150;
  width:550;
  }
  
  .RemoveBtn
  {
  z-index:99999999;
  position:relative;
  top:15;
  cursor:pointer;
 }
 
  .AddBtn
  {
  position:absolute;
  left:175;
  bottom:0;
  cursor:pointer;
 }
 
  .TableTypeA
  {
  top: 50;
  left: 350;
 }

  .TableTypeB
  {
  top: 250;
  left: 350;
 }
 
  .TableTypeC
  {
  top: 250;
  left: 350;
 }
 
  .TableTypeD
  {
  top: 250;
  left: 350;
 }
 
 .TableImgBorder
 {
   padding:15px;
   height:120;
   width:135;
 }
 
 .TableTypeImg
  {
  	position:relative;
	float:left;
	height:128;
	width:128;
 }
 
  .AmountSelect
  {
 }

 .SizeSelect
  {
 }
 
 .BlackOverlayRectangle
  {
  background:gray;
  opacity:0.75;
  border:2px groove;
  position:absolute;
  z-index:99999;
  }
 
 #CanvasEditButton
 {
  position:absolute;
  top: 1035;
  left : 550;
 }
 
  #TableTypeAListDiv
 {
	position:absolute;
	overflow:auto;
	top:0;
	left:295;
	height:150px;
	width:255px;
 }

 #TableTypeAList li
 {
  position:relative;
  direction: rtl;
  float:left;
  top:0;
 }
 
 #MainFrameTableTypeA
 {
 	position:absolute;
	left:355;
 }
 
  #MainFrameTableTypeB
 {
 	position:absolute;
	top:280;
	left:355;
 }
  
 #TableTypeBListDiv
 {
	position:absolute;
	overflow:auto;
	top:0;
	left:295;
	height:150px;
	width:255px;
 }

 #TableTypeBList li
 {
  position:relative;
  direction: rtl;
  float:left;
  top:0;
 }
  #MainFrameTableTypeC
 {
 	position:absolute;
	top:510;
	left:355;
 }
  
 #TableTypeCListDiv
 {
	position:absolute;
	overflow:auto;
	top:0;
	left:295;
	height:150px;
	width:255px;
 }

 #TableTypeCList li
 {
  position:relative;
  direction: rtl;
  float:left;
  top:0;
 }
 
 #MainFrameTableTypeD
 {
 	position:absolute;
	top:740;
	left:355;
 }
  
 #TableTypeDListDiv
 {
	position:absolute;
	overflow:auto;
	top:0;
	left:295;
	height:150px;
	width:255px;
 }

 #TableTypeDList li
 {
  position:relative;
  direction: rtl;
  float:left;
  top:0;
 }