 #new-div
 {
 	width: 658px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
 }
 
 .titles_blue_no_shadow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #5A8EA3;
	margin-right: 0px;
	margin-top: 15px;
	font-weight: bold;
}

.additional_black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	margin-right: 0px;
	margin-top: 15px;
	text-align:top;
	font-weight: bold;
}
 
  .NewSimpleFrame
  {
  background:white;
  position:absolute;
  z-index:99999;
  height:150;
  width:550;
  }
  
  .RemoveBtn
  {
  z-index:99999999;
  position:relative;
  top:15;
  cursor:pointer;
 }
 
 .AddBtn
  {
  cursor:pointer;
 }
 
  .AmountSelect
  {
 }

 .SizeSelect
  {
 }
 
 .BlackOverlayRectangle
  {
  background:gray;
  opacity:0.75;
  border:2px groove;
  position:absolute;
  z-index:99999;
  }
 
 #CanvasEditButton
 {
   cursor:pointer;
 }
 
  #TableTypeListDiv
 {
}

 #TableTypeList li
 {
  position:relative;
  direction: rtl;
  float:left;
  top:0;
 }
 
 .tableShapeSelect
 {
 }
 
 .TableImg
 {
}

.titles_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: red;
	margin-right: 0px;
	margin-top: 15px;
	font-weight: bold;
}

  .BlackOverlayRectangle
  {
  background:#5A8EA3;
  opacity:0.75;
  border:2px groove;
  position:absolute;
  z-index:99999;
  }