<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
  $(".DragDiv").draggable({ 
     start: function (e,ui){
       $(this).fadeTo(200, 0.3);
     },
     stop: function (e,ui){
       $(this).fadeTo(200, 1.0);
       $.post('/canvas/save/', {elem_num: $(this).context.id, X: $(this).position().left , Y: $(this).position().top });
     }
  });
  $(".AddDiv").click( function() {
    $.post('/canvas/add/', {kind: "regular"}, 
      function(data){
        if (data.status == 'OK')
        { location.reload(); }
      }, 'json');
  });
});
</script>


<style type="text/css">
 .DragDiv
 {
  background-color:white;
  position:absolute;
 }
 .ElemImg
 {
  width:90px;
  height:90px;
 }
 .AddDiv
 {
  width:20px;
  height:20px;
  position:absolute;
  left:0px;
  right:0px;
 }
</style>
<script type="text/javascript">
 window.onload = function()
 {
  var DivId = [];
  var DDiv = [];
  {% for elem in elements %}
   DivId[{{ elem.elem_num }}] = "DragDiv-{{ elem.elem_num }}";
   DDiv[{{ elem.elem_num }}] = document.getElementById(DivId[{{ elem.elem_num }}]);
   DDiv[{{ elem.elem_num }}].style.left = {{ elem.x_cord }} + "px";
   DDiv[{{ elem.elem_num }}].style.top = {{ elem.y_cord }} + "px";
   DDiv[{{ elem.elem_num }}].onmousedown = function()
   {
    Dragging = true;
   } 
  {% endfor %}
 }
 
</script>
<title>Simple Drag</title>
</head>

<body>
{% for div in elements %}
    <div class="DragDiv" id="DragDiv-{{ div.elem_num }}"><img src="http://photos1.fotosearch.com/bthumb/UNC/UNC002/u13738840.jpg" class="ElemImg"></div>
{% endfor %}
<div class="AddDiv"><img src="http://icons.iconseeker.com/png/fullsize/function/add-48.png"></div>
</body>
</html>

