<html lang="he">
<head>
<meta charset="UTF-8" /> 
<script language="javascript" type="text/javascript">
	var csrf_token;
	csrf_token = "{% csrf_token %}";
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>!-->
<script type="text/javascript" src="/static/canvas/border.js"></script>
<script type="text/javascript" src="/static/canvas/plugins/ui.multisortable.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>
<!--<script language="javascript" type="text/javascript" src="/static/canvas/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="/static/canvas/plugins/jqplot.pieRenderer.js"></script>
<script language="javascript" type="text/javascript" src="/static/canvas/jquery.jqplot.min.js"></script>-->
<script language="javascript" type="text/javascript" src="http://pcapr.googlecode.com/svn/trunk/script/jqplot/jquery.jqplot.js"></script>
<script language="javascript" type="text/javascript" src="http://pcapr.googlecode.com/svn/trunk/script/jqplot/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="http://etraxis.googlecode.com/svn-history/r1149/trunk/src/scripts/jqplot/jqplot.pieRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/right_interface/right_interface.css" />
<link rel="stylesheet" type="text/css" href="/static/canvas/jquery.jqplot.css" />
<link rel="stylesheet" type="text/css" href="/static/canvas/jquery.jqplot.min.css" />
<link rel="stylesheet" type="text/css" href="/static/canvas/general.css" />
<script type="text/javascript" src="/static/canvas/multiselection.js"></script>
<script type="text/javascript" src="/static/canvas/table.js"></script>
<script type="text/javascript" src="/static/canvas/shaped_placement.js"></script>
<script type="text/javascript" src="/static/canvas/money_info.js"></script>
<script type="text/javascript" src="/static/canvas/occasion_finish.js"></script>
<script type="text/javascript" src="/static/canvas/hour_glass.js"></script>
<script type="text/javascript" src="/static/canvas/operationManager.js"></script>
<script type="text/javascript" src="/static/canvas/occasion_properties.js"></script>
<script type="text/javascript" src="/static/canvas/general.js"></script>
<script type="text/javascript" src="/static/canvas/person.js"></script>
<script type="text/javascript" src="/static/canvas/light_msg.js"></script>
<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/static/canvas/canvasIE.css" />
	<script type="text/javascript" src="/static/canvas/canvasIE.js"></script>
	<script type="text/javascript" src="/static/canvas/personExtandedIE.js"></script>

<![endif]-->
<!--[if lt IE 9]>
	<script language="javascript" type="text/javascript" src="/static/canvas/excanvas.js"></script>
	<script language="javascript" type="text/javascript" src="/static/canvas/excanvas.min.js"></script>
<![endif]-->
<!--[if !IE]><!-->
	<link rel="stylesheet" type="text/css" href="/static/canvas/canvas.css" />
	<script type="text/javascript" src="/static/canvas/canvas.js"></script>
	<script type="text/javascript" src="/static/canvas/personExtanded.js"></script>
 <!--<![endif]-->

<script type="text/javascript">
	 $(document).before(function()
	 {
	  var firstInit = false;
	  var DivId = [];
	  var DDiv = [];
	  {% for elem in elements %}
	   DivId[{{ elem.elem_num }}] = "DragDiv-{{ elem.elem_num }}";
	   DDiv[{{ elem.elem_num }}] = document.getElementById(DivId[{{ elem.elem_num }}]);
	   DDiv[{{ elem.elem_num }}].style.left = {{ elem.x_cord }} + "px";
	   DDiv[{{ elem.elem_num }}].style.top = {{ elem.y_cord }} + "px";
	   
	   var div = $("#" + DivId[{{ elem.elem_num }}]);
	   var divId = "DragDiv-{{ elem.elem_num }}";
	   var divimg = $("#" + DivId[{{ elem.elem_num }}]).find('img').first();
	   var divp = $("#" + DivId[{{ elem.elem_num }}]).find('p').first();
	   
	   divimg.css('width',{{ elem.width }});
	   divimg.css('height',{{ elem.height }});
	   divp.attr('title',"{{ elem.caption }}");
	   divp.text("{{ elem.caption }}");
	   if (isThisPeopleTable("{{ elem.kind }}"))
		{
			adjustCaptionInit(div,divId, divp.text(), divp.text(), divimg.css('width'));
		}
	   
	   DDiv[{{ elem.elem_num }}].onmousedown = function()
	   {
		Dragging = true;
	   } 
	   if ({{ elem.x_cord }} == 0 && {{ elem.y_cord }} == 0 && ! firstInit)
	   {
			firstInit = true;
	   }
	  {% endfor %}
	  
	  if (firstInit)
	  {
		 	$(".DragDiv").each(function(i){
			var elementCaption = $(this).context.getElementsByTagName("p");
			var elementMaxSize = elementCaption[1].firstChild.nodeValue.substr(elementCaption[1].firstChild.nodeValue.indexOf("/")+1);
			elementCaption[0].title = elementCaption[0].firstChild.nodeValue;
			setWidthAndHeight($(this),elementMaxSize,0);
		});
		 $("#SquarePlaceMentShapes").click();
		 $(".ShapePlacementMenu").hide();
	  }
	 
	 $(".DragDiv").each(function(i){
		 if ($(".DragDiv").last().attr('id') == $(this).context.id)
		 {
			if (collisionWithOtherElement($(this)))
			{
				reposElementAtAFreeSpaceNonDrag($(this), 0);
			}
		 }
	 });
	 
	 $(".DragNonDropDiv").each(function(i){
		 if ($(".DragNonDropDiv").last().attr('id') == $(this).context.id)
		 {
			if (collisionWithOtherElement($(this)))
			{
				reposElementAtAFreeSpace($(this), 200);
			}
		 }
	 });
	});
	
	$(document).ready(function() {
	 
		$(".tableProp").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/table_prop_n.png");
		});
		$(".tableProp").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/table_prop_r.png");
		});
			  
		$("#ExitImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/exit_canvas_n.png");
		});
		$("#ExitImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/exit_canvas_r.png");
		});
			  
		$("#OIImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/calender_n.png");
		});
		$("#OIImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/calender_r.png");
		});
			  
		$("#OFImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/end_n.png");
		});
		$("#OFImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/end_r.png");
		});
			  
		$("#MoneyImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/money_n.png");
		});
		$("#MoneyImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/money_r.png");
		});
			  
		$("#PSImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/grid_n.png");
		});
		$("#PSImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/grid_r.png");
		});
					  
		$("#UndoImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/back_n.png");
		});
		$("#UndoImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/back_r.png");
		});
					  
		$("#DelImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/minus_n.png");
		});
		$("#DelImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/minus_r.png");
		});
		
		$("#AddDivImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/pluse_n.png");
		});
		$("#AddDivImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/pluse_r.png");
		});	

		$("#SpinImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/spin_n.png");
		});
		$("#SpinImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/spin_r.png");
		});
					  
		$("#AlignImg").mouseout(function(){
			$(this).attr('src',"/static/canvas/images/align_n.png");
		});
		$("#AlignImg").mouseover(function(){
			$(this).attr('src',"/static/canvas/images/align_r.png");
		});		
		$("#SortFloatList").mouseout(function(){
			$(this).attr('src',"/static/right_interface/images/filter_list.png");
		});
		$("#SortFloatList").mouseover(function(){
			$(this).attr('src',"/static/right_interface/images/filter_list_r.png");
		});
		$("#AddPersonButton").mouseout(function(){
			$(this).attr('src',"/static/right_interface/images/add.png");
		});
		$("#AddPersonButton").mouseover(function(){
			$(this).attr('src',"/static/right_interface/images/add_r.png");
		});	
		$("#ElementPropertiesSaveButton").mouseout(function(){
			$(this).attr('src',"/static/right_interface/images/save_changes_n.png");
		});
		$("#ElementPropertiesSaveButton").mouseover(function(){
			$(this).attr('src',"/static/right_interface/images/save_changes_r.png");
		});		
		$("#SearchButton").mouseout(function(){
			$(this).attr('src',"/static/right_interface/images/search.png");
		});
		$("#SearchButton").mouseover(function(){
			$(this).attr('src',"/static/right_interface/images/search_r.png");
		});
		$("#MaxGuestSaveButton").mouseout(function(){
			$(this).attr('src',"/static/right_interface/images/save_changes_n.png");
		});
		$("#MaxGuestSaveButton").mouseover(function(){
			$(this).attr('src',"/static/right_interface/images/save_changes_r.png");
		});		
		$("#floatListPin").mouseout(function(){
			if 	($(this).attr('alt') == "P")
			{
				$(this).attr('src',"/static/canvas/icons/pin_on_n.png");
			}
			else
			{
				$(this).attr('src',"/static/canvas/icons/pin_off_n.png");
			}
		});
		$("#floatListPin").mouseover(function(){
			if 	($(this).attr('alt') == "P")
			{
				$(this).attr('src',"/static/canvas/icons/pin_on_r.png");
			}
			else
			{
				$(this).attr('src',"/static/canvas/icons/pin_off_r.png");
			}
		});
			
		$("#float-list").draggable( 'disable' );
		$("#float-list").fadeTo(0, 1);

	});

</script>
<title>2Seat Canvas</title>
</head>

<body id="canvasbody">
	<DIV id="main">
		<div id="canvas-div" class="CanvasDiv">
			{% for div in elements %}
    			<div class="DragDiv" id="DragDiv-{{ div.elem_num }}" title="לחיצה כפולה למצב עריכה" width={{ div.width }} height{{ div.height }}>
					<p id="CaptionDragDiv-{{ div.elem_num }}" style="text-shadow:2px 2px 8px blue; margin:0; font-size:11.5; text-align:center;" dir="rtl">{{div.caption}}</p>
					<p id="tblSize" style="text-shadow:2px 2px 8px blue; margin:0; font-size:11.5; text-align:center;" dir="rtl">{{div.current_sitting}}/{{div.max_sitting}}</p>
					<img src="http://cdn4.iconfinder.com/data/icons/sphericalcons/128/waiting.png" class="ElemImg" id="{{ div.kind }}-{{ div.elem_num }}"/>
					<img id="elemProp_DragDiv-{{ div.elem_num }}" class="tableProp" src="/static/canvas/images/table_prop_n.png" width="16" height="16" onmousedown="propMenuBtnClick('DragDiv-'+{{ div.elem_num }})"/>
				</div>
			{% endfor %}
			<div id="mainPanelPattren">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
					  <td  width="5" height="32" valign="top"><img src="/static/canvas/images/blue_left_main_panel.png" height="32" /></td>
					  <td height="32" width="575" bgcolor="#5A8EA3"></td>
					  <td width="5" height="32" valign="top"><img src="/static/canvas/images/midmainbar.png" width="5" height="32" /></td>
					  <td height="32" width="605" bgcolor="#E0E0AD" valign="top" align="right">
					  <!--[if IE]>
							<marquee id="occasionMarquee" behavior="scroll" scrollamount="6" direction="right" height="32" width="605">
					  <![endif]-->
					  <!--[if !IE]><!-->
					  		<marquee behavior="scroll" scrollamount="6" direction="right" height="45" width="605" style="margin-top:-20;">
					  <!--<![endif]-->
							<p class="titles_black" dir="rtl" style="cursor:pointer;" id="occasionMarquee"> האירוע של <span id="partnersNames" class="titles_blue" dir="rtl"><span id="firstPartnerName">{{ partners.partner1_first_name }}</span> <span id="addChar">{{addChar}} </span> <span id="secondPartnerName">{{ partners.partner2_first_name }}</span> <span id="partnerLastName">{{ last_name }} </span>
								</span><span class="titles_black" dir="rtl">המתקיים בתאריך <span id="OccasionDate">{{date}}</span></span><span id="OccasionPlace" class="titles_black" dir="rtl"> ב{{place}}</span></p></marquee>
							<div id="phone_number">{{ phone_num }}</div>
					  </td>
					  <td width="5" height="32" valign="top"><img src="/static/canvas/images/yellow_right_main_panel.png" height="32" /></td>
					</tr>
					<tr>
					  <td height="10" width="1195" colspan="5"><img src="/static/canvas/images/shadowUpperMenu.png" width="1195" height="10" /></td>
					</tr>
				</table>				
			</div>
			<div class="AddDiv" title="הוסף שולחן">
			<!--[if IE]>
				<img id="AddDivImg" src="/static/canvas/images/pluse_n.png" onclick="addTableButtonPress()"></div>
				<ul class="AddMenu">
				<div onmouseout="addMenuMouseLeave()">
					<li><a href="#" onclick="addMenuItemButtonPress('Round')"><img id="Round" border=0 src="" class="MenuItem" title="שולחן עגול"></a></li>
					<li><a href="#" onclick="addMenuItemButtonPress('Square')"><img id="Square" border=0 src="" class="MenuItem" title="שולחן מרובע"></a></li>
					<li style="margin:2px;"><a href="#" onclick="addMenuItemButtonPress('Rect')"><img id="Rect" border=0 src="" class="RectMenuItem" title="שולחן מלבני"></a></li>	
					<li><a href="#" onclick="addMenuItemButtonPress('Lozenge')"><img id="Lozenge" border=0 src="" class="RectMenuItem" title="שולחן מעויין"></a></li>
					<li><a href="#" onclick="addMenuItemButtonPress('dance&stand')"><img id="dancestand" border=0 src="/static/canvas/images/misc/dance_small.png" class="MenuItem" title="רחבת ריקודים"></a></li>
					<li><a href="#" onclick="addMenuItemButtonPress('bar&stand')"><img id="barstand" border=0 src="/static/canvas/images/misc/bar_small.png" class="MenuItem" title="בר משקאות"></a></li>
					<li><a href="#" onclick="addMenuItemButtonPress('dj&stand')"><img id="djstand" border=0 src="/static/canvas/images/misc/dj.png" class="MenuItem" title="עמדת די ג'יי"></a></li>
				</div>
 			</ul>
			<div class="AligmentDiv" title="ישור שולחנות מסומנים" onclick="addAligmentDivButtonPress()"><img id="AlignImg" src="/static/canvas/images/align_n.png"></div>
			<div class="DelDiv" title="מחיקת שולחן\אורח בשולחן"><img id="DelImg" src="/static/canvas/images/minus_n.png"  onclick="delTableButtonPress()"></div>
			<div class="UndoDiv" title="חזור למצב שולחן קודם" onClick="undoButtonPress()"><img id="UndoImg" src="/static/canvas/images/back_n.png" onclick="undoButtonPress"></div>
			<div class="PlaceMentShapesDiv" title="סידור שולחנות צורני"><img id="PSImg" src="/static/canvas/images/grid_n.png" onclick="shapePlacementDivButtonPress()"></div>
			<![endif]-->
			<!--[if !IE]><!-->
				<img id="AddDivImg" src="/static/canvas/images/pluse_n.png"></div>
				 <ul class="AddMenu">
 				<li><a href="#"><img id="Round" border=0 src="" class="MenuItem" title="שולחן עגול"></a></li>
 				<li><a href="#"><img id="Square" border=0 src="" class="MenuItem" title="שולחן מרובע"></a></li>
 				<li style="margin:2px;"><a href="#"><img id="Rect" border=0 src="" class="RectMenuItem" title="שולחן מלבני"></a></li>
 				<li><a href="#"><img id="Lozenge" border=0 src="" class="MenuItem" title="שולחן מעויין"></a></li>
				<li><a href="#"><img id="dance&stand" border=0 src="/static/canvas/images/misc/dance_small.png" class="MenuItem" title="רחבת ריקודים"></a></li>
				<li><a href="#"><img id="bar&stand" border=0 src="/static/canvas/images/misc/bar_small.png"  class="MenuItem" title="בר משקאות"></a></li>
				<li><a href="#"><img id="dj&stand" border=0 src="/static/canvas/images/misc/dj.png"  class="MenuItem" title="עמדת די ג'יי"></a></li>
 			</ul>
			<div class="AligmentDiv" title="ישור שולחנות מסומנים"><img id="AlignImg" src="/static/canvas/images/align_n.png"></div>
			<div class="DelDiv" title="מחיקת שולחן\אורח בשולחן"><img  id="DelImg"src="/static/canvas/images/minus_n.png"></div>
			<div class="UndoDiv" title="חזור למצב שולחן קודם"><img id="UndoImg" src="/static/canvas/images/back_n.png"></div>
			<div class="PlaceMentShapesDiv" title="סידור שולחנות צורני"><img id="PSImg" src="/static/canvas/images/grid_n.png"></div>
			 <!--<![endif]-->
			 <div class="SpinDiv"  title="סובב שולחן"><img id="SpinImg" src="/static/canvas/images/spin_n.png"></div>
			<div class="MoneyInfoDiv" title="סיכום כספי אירוע"><img id="MoneyImg" src="/static/canvas/images/money_n.png"></div>
			<div class="OccasionFinishDiv"  title="ישומי אירוע"><img id="OFImg" src="/static/canvas/images/end_n.png"></div>
			<div class="OperationsInfoDiv" title="פירוט פעולות עריכת אירוע"><img id="OIImg" src="/static/canvas/images/calender_n.png"></div>
			<div class="ExitCanvasDiv" title="יציאה מהמערכת"><img id="ExitImg" style="border: 0;" src="/static/canvas/images/exit_canvas_n.png"></img></div>
			<ul class="AligmentMenu">
 				<li><div id="HorizontalAligmentDivLeft" title="ישור אופקי לשמאל"><img src="/static/canvas/images/HorizontalLeft.png" class="Pointer"></div></li>
				<li><div id="HorizontalAligmentDivRight"  title="ישור אופקי לימין"><img src="/static/canvas/images/HorizontalRight.png" class="Pointer"></div></li>
				<li><div id="VerticalAligmentDivTop"  title="ישור אנכי למעלה"><img src="/static/canvas/images/VerticalTop.png" class="Pointer"></div></li>
				<li><div id="VerticalAligmentDivBottom"  title="ישור אנכי למטה"><img src="/static/canvas/images/VerticalBottom.png" class="Pointer"></div></li>
 			</ul>
			<ul class="ShapePlacementMenu">
 				<li><p Id="SeqPlaceMentShapes" class="Pointer" style="text-align:center;" title="סידור רציף">סידור רציף</p></li>
				<li><p Id="HSquarePlaceMentShapes" class="Pointer" style="text-align:center;" title="סידור ח">סידור ח</p></li>
 				<li><p Id="SquarePlaceMentShapes" class="Pointer" style="text-align:center;" title="סידור מעגלי">סידור מעגלי</p></li>
 			</ul>
			<div class="SaveState"><p>סטטוס שמירה:<span><img id="SaveStateImg" src=""></p></span></div>

		</div>
		<div id="right-bar">
			<div id="float-list">			
				<div id="windowRI">
					  <table width="115" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td width="5" height="25"><img src="/static/right_interface/images/tl.png" width="5" height="25" /></td>
						  <td width="5" bgcolor="#E0E0AD" height="25" align="left"><div id="float-list-head"><img id="floatListPin" src="/static/canvas/icons/pin_on_n.png" width="16" height="16" align="left" alt="P" style="cursor:pointer;"
						  /></div></td>
						  <td height="25" colspan="2" bgcolor="#E0E0AD" dir="rtl"><span class="window_titleRI">רשימה צפה</span></td>
						  <td width="5" height="25"><img src="/static/right_interface/images/tr.png" width="5" height="25" /></td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3" title="מחק אורח/ת" ><img src="/static/right_interface/images/delete_guest.png" class="DelPersonDiv" alt="מחק אורח/ת" width="29" height="25" /></td>
						  <td width="5" bgcolor="#5A8EA3" title="הוסף אורח"><img src="/static/right_interface/images/add_ma.png" alt="הוסף אורח" width="29" height="25" id="AddMaleGuestDivID" class="pointer"/></td>
						  <td width="5" bgcolor="#5A8EA3" id="AddFemaleGuestDivID" class="pointer" title="הוסף אורחת"><img src="/static/right_interface/images/add_fe.png" alt="הוסף אורחת" width="29" height="25" vspace="10" /></td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td colspan="3" valign="top">
							<div id="people-list">
								<ul id="people_list">
									{% for guest in guests %}
										{% if guest.elem_num == 0 %}
											{% if guest.gender == 'F' %}
												<li class="femaleli" id="{{ guest.guest_first_name }}_{{ guest.guest_last_name }}" title="{{ guest.guest_first_name }} {{ guest.guest_last_name }} לחיצה כפולה לעריכה, יש להחזיק CNTL לבחירה מרובה."> {{ guest.guest_first_name }} {{ guest.guest_last_name}} </li>
											{% else %}
												<li class="maleli" id="{{ guest.guest_first_name }}_{{ guest.guest_last_name }}" title="{{ guest.guest_first_name }} {{ guest.guest_last_name }} לחיצה כפולה לעריכה, יש להחזיק CNTL לבחירה מרובה."> {{ guest.guest_first_name }} {{ guest.guest_last_name}}</li>
											{% endif %}
										{% endif %}
									{% endfor %}
								</ul>
							</div>
							</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td height="30" colspan="3" align="center" valign="bottom" bgcolor="#5A8EA3"><label>
							<select name="filterList" id="filterListRI" dir="rtl">
							  <option value="Name">שם מלא</option>
							  <option value="Group">קבוצה</option>
							</select>
						  </label></td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" height="58" valign="bottom"><img src="/static/right_interface/images/bl.png" width="5" height="58" /></td>
						  <td colspan="3" bgcolor="#5A8EA3" title="מיין לפי"><img src="/static/right_interface/images/filter_list.png" alt="מיין לפי" width="125" height="38" vspace="10" id="SortFloatList" class="pointer" /></td>
						  <td width="5" height="58" valign="bottom"><img src="/static/right_interface/images/br.png" width="5" height="58" /></td>
						</tr>
					  </table>
					</div>
			</div>
			<div id="AddPersonList" class="AddPerson">
					  <table width="115" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td width="5" height="25"><img src="/static/right_interface/images/tl.png" width="5" height="25" /></td>
						  <td height="25" colspan="3" bgcolor="#E0E0AD" dir="rtl"><span class="window_titleRI">הוספת אורח/ת</span></td>
						  <td width="5" height="25"><img src="/static/right_interface/images/tr.png" width="5" height="25" /></td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td height="45" colspan="3" bgcolor="#5A8EA3"><img height="45" width="45" id="addGenderImg"/></td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td height="10" bgcolor="white" colspan="3"></td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white">
								<p class="text_14_black_bolt">שם פרטי:<br/><span><input id="first_name" type=text size=15></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white">
								<p class="text_14_black_bolt">שם משפחה:</br><span><input id="last_name" type=text size=15></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white">
								<p class="text_14_black_bolt">קבוצה:</br><span>
								<select id="personGroup" size="1" dir="rtl">
								</select></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>	
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <!--[if IE]>
						  <td height="33" bgcolor="white" colspan="3"></td>
						  <![endif]-->
						  <!--[if !IE]><!-->
						  <td height="25" bgcolor="white" colspan="3"></td>
						  <!--<![endif]-->
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>						
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <!--[if IE]>
						  <td height="30" bgcolor="#5A8EA3" colspan="3"></td>
						  <![endif]-->
						  <!--[if !IE]><!-->
						  <td height="31" bgcolor="#5A8EA3" colspan="3"></td>
						  <!--<![endif]-->
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" height="58" valign="bottom"><img src="/static/right_interface/images/bl.png" width="5" height="58" /></td>
						  <td height="25" colspan="3" bgcolor="#5A8EA3" title="הוסף אורח/ת"><img src="/static/right_interface/images/add.png" alt="הוסף אורח/ת" width="125" height="38" vspace="10" id="AddPersonButton" class="pointer" /></td>
						  <td width="5" height="58" valign="bottom"><img src="/static/right_interface/images/br.png" width="5" height="58" /></td>
						</tr>
					  </table>
					</div>
			</div>	
			<div id="right-middel-bar" class="Properties-bar">
				<div id="element-properties-list">
					<table width="100" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td width="5" height="25"><img src="/static/right_interface/images/tl.png" width="5" height="25" /></td>
						  <td height="25" colspan="5" bgcolor="#E0E0AD" dir="rtl"><span class="window_titleRI">פרטי אלמנט</span></td>
						  <td width="5" height="25"><img src="/static/right_interface/images/tr.png" width="5" height="25" /></td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white" colspan="3">
								<p class="text_14_black_bolt">תווית:<br/><span><input style="text-align:right; width:100px;" type="text" id="ElementCaption" class="Property" maxlength="50"/></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white">
							<p class="text_14_black_bolt">גודל:</br><span>
								<select size="1" id="ElementSize" class="Property">
									<option class="Property" value="4">4
									<option class="Property" value="5">5
									<option class="Property" value="6">6
									<option class="Property" value="7">7
									<option class="Property" value="8">8
									<option class="Property" value="9">9
									<option class="Property" value="10">10
									<option class="Property" value="11">11
									<option class="Property" value="12">12
									<option class="Property" value="13">13
									<option class="Property" value="14">14
									<option class="Property" value="15">15
									<option class="Property" value="16">16
									<option class="Property" value="17">17
									<option class="Property" value="18">18
									<option class="Property" value="19">19
									<option class="Property" value="20">20
									<option class="Property" value="21">21
									<option class="Property" value="22">22
								</select></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						  <td width="35" bgcolor="white" align="right"><p class="text_14_black_bolt">מספר:<br/><span><input style="text-align:right; width:35px;" type="text" id="ElementNumber" class="Property" maxlength="4"/></span></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>						
						<tr>
						  <td width="2.5" height="63" valign="bottom"><img src="/static/right_interface/images/bl.png" width="5" height="63" /></td>
						  <td height="25" colspan="5" bgcolor="#5A8EA3" title="שמור שינויים">
						  <!--[if IE]>
						  <img src="/static/right_interface/images/save_changes_n.png" alt="שמור שינויים" width="110" height="38" vspace="2" id="ElementPropertiesSaveButton" class="Property" onclick="elementPropertiesSaveButtonClick()"/>
						  <![endif]-->
						  <!--[if !IE]><!-->
						  <img src="/static/right_interface/images/save_changes_n.png" alt="שמור שינויים" width="110" height="38" vspace="2" id="ElementPropertiesSaveButton" class="Property" />
						  <!--<![endif]-->
						  </td>
						  <td width="2.5" height="63" valign="bottom"><img src="/static/right_interface/images/br.png" width="5" height="63" /></td>
						</tr>
				</table>
			</div>
		</div>
		<div id="right-middel-bar" class="Properties-bar">
			<div id="search-properties-list">
					  <table width="115" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td width="5" height="25"><img src="/static/right_interface/images/tl.png" width="5" height="25" /></td>
						  <td height="25" colspan="3" bgcolor="#E0E0AD" dir="rtl"><span class="window_titleRI">חיפוש שולחן/אורח</span></td>
						  <td width="5" height="25"><img src="/static/right_interface/images/tr.png" width="5" height="25" /></td>
						</tr>
						<tr height="5" bgcolor="#5A8EA3">
							<td colspan="5" bgcolor="#5A8EA3"></td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white">
							<div style="padding:2px">
								<input type=text style="text-align:right; width:115px;" size=15 id="SearchCaption" class="Property" maxlength="30"></div></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="center" valign="top" bgcolor="white">
						  	<div style="padding:2px">
								<select size="1" id="SearchBy" class="Property">
								<option class="Property" value="Table">שולחן
								<option class="Property" value="Guest">אורח/ת
								</select></div></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>	
						<tr>
						  <td width="5" height="50" valign="bottom"><img src="/static/right_interface/images/bl.png" width="5" height="50" /></td>
						  <td height="25" colspan="3" bgcolor="#5A8EA3" title="חיפוש שולחן/אורח" ><img src="/static/right_interface/images/search.png" alt="חיפוש שולחן/אורח" width="125" height="38" id="SearchButton" class="Property" /></td>
						  <td width="5" height="50" valign="bottom"><img src="/static/right_interface/images/br.png" width="5" height="50" /></td>
						</tr>
					  </table>
					</div>
			</div>
		<div id="right-middel-bar"> 
			<div id="occasionDetailsR" class="Properties-bar">
				 <table width="115" border="0" cellspacing="0" cellpadding="0">
						<tr>
						  <td width="5" height="25"><img src="/static/right_interface/images/tl.png" width="5" height="25" /></td>
						  <td height="25" colspan="3" bgcolor="#E0E0AD" dir="rtl"><span class="window_titleRI">פרטי אירוע</span></td>
						  <td width="5" height="25"><img src="/static/right_interface/images/tr.png" width="5" height="25" /></td>
						</tr>
						<tr height="5" bgcolor="#5A8EA3">
							<td colspan="5" bgcolor="#5A8EA3"></td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <!--[if IE]>
							<td width="105" align="right" valign="top" bgcolor="white">
						  <![endif]-->
						  <!--[if !IE]><!-->
						  	<td align="right" valign="top" bgcolor="white">
						  <!--<![endif]-->
						  <p class="text_14_black_bolt" id="TotalGuestsLabel" bgcolor="white">מתוך:<span id="TotalGuestsLabelValue"/></p></td>
						  <!--[if IE]>
							<td width="105" align="right" valign="top" bgcolor="white">
						  <![endif]-->
						  <!--[if !IE]><!-->
						  	<td align="right" valign="top" bgcolor="white">
						  <!--<![endif]-->
						  <p class="text_14_black_bolt" id="SeatedLabel" bgcolor="white">הושבו:<span id="SeatedLabelValue"/></p></td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>
						<tr>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td align="right" valign="top" bgcolor="white"><p class="text_14_black_bolt">מס אורחים מרבי:<span>	{% for profile in user_profile %}
								<input style="text-align:left; width:50px;" type="text" id="NumOfGuests" value=" {{profile.num_of_guests}}" class="Property" maxlength="4"/>
						  {% endfor %}</span></p>
						  <td width="5" bgcolor="white">&nbsp;</td>
						  <td width="5" bgcolor="#5A8EA3">&nbsp;</td>
						</tr>													
						<tr>
						  <td width="5" height="53" valign="bottom"><img src="/static/right_interface/images/bl.png" width="5" height="53" /></td>
						  <td height="25" colspan="3" bgcolor="#5A8EA3" title="שמור שינוי"><img src="/static/right_interface/images/save_changes_n.png" alt="שמור שינוי" width="125" height="38" vspace="5" id="MaxGuestSaveButton" class="pointer" /></td>
						  <td width="5" height="53" valign="bottom"><img src="/static/right_interface/images/br.png" width="5" height="53" /></td>
						</tr>
						<tr>
							<td height="22" width="125" colspan="5"><img src="/static/right_interface/images/small_shadow.png" width="125" height="22" /></td>
						<tr>
					</table>
				</div>
			</div>					
		</div>
	</DIV>
	<div id="canvasShadow" />
</body>
</html>

