<html lang="he">
<head>
<meta charset="UTF-8" /> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://www.labs.skengdon.com/border/js/border.min.js"></script>

<title>New Canvas</title>
</head>

<script src="/static/canvas/new.js"></script>
<link rel="stylesheet" type="text/css" href="/static/canvas/new.css" />
<script type="text/javascript" src="/static/canvas/hour_glass.js"></script>

<body>

<div id="canvas-div" class="Main">
	<div id="MainFrameTableTypeA" class="SimpleFrame">
		<div class="TableImgBorder">
			<img id="ImgTypeA" src="/static/canvas/images/TableSquare.jpg" class="TableTypeImg"/>
		</div>
			<div id="TableTypeAListDiv">
			<ul id="TableTypeAList">
			</ul>
		</div>
		<img id="AddLiA" class="AddBtn" src="/static/canvas/images/add.png"/>
	 </div>
	  <div id="MainFrameTableTypeB" class="SimpleFrame">
		<div class="TableImgBorder">
			<img id="ImgTypeB" src="/static/canvas/images/RoundPink.jpg" class="TableTypeImg"/>
		</div>
			<div id="TableTypeBListDiv">
			<ul id="TableTypeBList">
			</ul>
		</div>
		<img id="AddLiB" class="AddBtn" src="/static/canvas/images/add.png"/>
	 </div>
	 <div id="CounterData">
		 <p id="TableCounterLabel">Table Total :</p><p id="TableCounter"/><p id="SeatCounterLabel">Seat Available : </p><p id="TableCounter"/><p id="PersonCounter"/>
	</div>
	<button id="CanvasEditButton" title="Procced To Canvas"> Start Edit Tables </button>
</div>


<!--
  Please select table: <BR>
  <input type=radio name=table> <img id="round_pink" border=0 src="http://photos1.fotosearch.com/bthumb/UNC/UNC002/u13738840.jpg" class="MenuItem"><BR>
  <input type=radio name=table> <img id="long_square" border=0 src="http://www1.free-clipart.net/gallery2/clipart/Household/Miscellaneous/Table_Setting_1.jpg" class="MenuItem"><BR>
  Please select size:
  <input type=radio name=size>8 <input type=radio name=size>9 <input type=radio name=size>12 <input type=radio name=size>15<BR>
  Please enter the amount of those tables: <input type=text name=count><br>
-->

</body>
</html>

