 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<title>New Canvas</title>
 {% load googleanalytics_tags %}
 {% googleanalytics %}
</head>

<script src="/static/canvas/new.js"></script>
<link rel="stylesheet" type="text/css" href="/static/canvas/new.css" />
<link rel="stylesheet" type="text/css" href="/static/page/page.css" />
<link rel="stylesheet" type="text/css" href="/static/canvas/general.css" />
<script type="text/javascript" src="/static/canvas/hour_glass.js"></script>
<script type="text/javascript" src="/static/canvas/operationManager.js"></script>
<script type="text/javascript" src="/static/canvas/light_msg.js"></script>
<script type="text/javascript">
var canvasDataString = "";
var numOfRows = "";
var alreadyHasBar = false;
var alreadyHasDj = false;
var alreadyHasDance = false;

$(document).before(function()
{
	 canvasDataString = "{{ canvasDataString }}";
	 numOfRows = "{{ numOfRows }}";
	 alreadyHasBar = "{{ hasBar }}" == "true" ? true : false;
	 alreadyHasDance = "{{ hasDance }}" == "true" ? true : false;
	 alreadyHasDj = "{{ hasDj }}" == "true" ? true : false;
});

$(document).ready(function() {
	//$("#addDetailsList").hide();
	window.scrollBy(0,0);
	var addDetailsOpen = true;

	$("#addDetails").mouseout(function(){
		if (addDetailsOpen)
			$(this).attr('src',"/static/page/images/expander_down_n.png");
		else
			$(this).attr('src',"/static/page/images/expander_up_n.png");
	});
	$("#addDetails").mouseover(function(){
		if (addDetailsOpen)
			$(this).attr('src',"/static/page/images/expander_down_r.png");
		else
			$(this).attr('src',"/static/page/images/expander_up_r.png");
	});
	$("#addDetails").click(function(){
		addDetailsOpen = !addDetailsOpen;
		if (addDetailsOpen)
		{
			$(this).attr('src',"/static/page/images/expander_down_r.png");
			window.scrollBy(0,300);
		}
		else
			$(this).attr('src',"/static/page/images/expander_up_r.png");
		$("#addDetailsList").slideToggle("slow");
	});
	
	$("#AddLi").after(function(){
		insertUserElements();
	});
});
</script>

<body id="newbody">

<div id="new-div">
  <table width="765" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="12" height="12" valign="top"><img src="/static/page/images/tl.png" width="12" height="20" border="0" /></td>
      <td colspan="3" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" height="12" valign="top"><img src="/static/page/images/logo_t.png" width="195" height="20" border="0" /></td>
    </tr>
	 <tr>
      <td width="12" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="30" align="left" valign="bottom" bgcolor="#FFFFFF"><img id="CanvasEditButton" src="/static/canvas/images/continue_n.png" /></td>
      <td align="right" dir= "rtl" valign="top" bgcolor="#FFFFFF">
	    <p class="titles_blue_no_shadow">מסך הוספת שולחנות ראשוני</p>
		<!--<div id="automaticAddDiv">
			<h5>סקיצת אולם לעריכה : <span>
			<select id="Sketches">
				<option value="none" SELECTED>ללא סקיצה</option>
				<option value="Gan Ha Veradim">גן הורדים</option>
			</select></span></h5>
			<div id="automaticList" style="display:none;">
				<div id="AutoTableTypeListDiv" style="float:right; align:right;">
					<ul id="AutoTableTypeList"></ul>
				</div>
				</br>
				<table border="0" cellspacing="15" cellpadding="0">
					<td><input id="barAppovalAuto" type="checkbox"><span class="text_11_black">בר משקאות</span></input></span></td>
					<td><input id="danceStandAppovalAuto" type="checkbox"><span class="text_11_black">רחבת ריקודים</span></input></span></td>
					<td><input id="djStandAppovalAuto" type="checkbox"><span class="text_11_black">עמדת דיי ג'יי</span></input></span></td>
				</table>
			</div>
			<hr width="100%" size="1" align="center">
		</div>-->
		<div id="manualAddDiv">
			<!--<h5>הוספה ידנית :  <h5>-->
			<div id="TableTypeListDiv" style="float:right; align:right;">
				<ul id="TableTypeList"></ul>
			</div>
			</br>
			<img id="AddLi" class="AddBtn" src="/static/canvas/images/pluse_n.png" />
			</br>
			<table border="0" cellspacing="15" cellpadding="0">
				<td><input id="barAppoval" type="checkbox"><span class="text_11_black">בר משקאות</span></input></span></td>
				<td><input id="danceStandAppoval" type="checkbox"><span class="text_11_black">רחבת ריקודים</span></input></span></td>
				<td><input id="djStandAppoval" type="checkbox"><span class="text_11_black">עמדת דיי ג'יי</span></input></span></td>
			</table>
			<hr width="100%" size="1" align="center">
		</div>
		<p class="titles_red" id="errorMsg"/>
		<p class="additional_black">פרטים נוספים&nbsp;&nbsp;<span><img id="addDetails" style="cursor:pointer;" src="/static/page/images/expander_down_n.png" width="24" height="15"/></span></p>
			<ul id="addDetailsList">
				<p class="text_14_black">מספר שולחנות כולל:&nbsp;<span class="text_14_black" id="tableCounter">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_14_black">מספר מושבים כולל:&nbsp;<span class="text_14_black" id="personCounter">0</span></span></p>
				<p class="text_14_black">מספר שולחנות מרובעים:&nbsp;<span class="text_14_black" id="squareSum">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_14_black">מספר מושבים מרובעים:&nbsp;<span class="text_14_black" id="squareSeatAmount">0</span></span></p>
				<p class="text_14_black">מספר שולחנות עגולים:&nbsp;<span class="text_14_black" id="roundSum">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_14_black">מספר מושבים עגולים:&nbsp;<span class="text_14_black" id="roundSeatAmount">0</span></span></p>
				<p class="text_14_black">מספר שולחנות מלבנים:&nbsp;<span class="text_14_black" id="rectSum">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_14_black">מספר מושבים מלבנים:&nbsp;<span class="text_14_black" id="rectSeatAmount">0</span></span></p>
				<p class="text_14_black">מספר שולחנות מעויינים:&nbsp;<span class="text_14_black" id="lozengeSum">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text_14_black">מספר מושבים מעויינים:&nbsp;<span class="text_14_black" id="lozengeSeatAmount">0</span></span></p>
			</ul>
	  </td>
	  <td width="22" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" valign="top" bgcolor="#5A8EA3"><img src="/static/page/images/logo.png" width="195" height="259" /></td>
    </tr>
    <tr>
      <td width="12" valign="top"><img src="/static/page/images/bl.png" width="12" height="20" /></td>
      <td colspan="3" bgcolor="#FFFFFF">&nbsp;</td>
      <td width="195" valign="top"><img src="/static/page/images/bt_r.png" width="195" height="20" /></td>
    </tr>
  </table>
  <img id="newPageShadow" src="/static/canvas/images/new_shadow.png" width="765" height="26" />
  </br>
  <!--</br>
  </br>
  </br>
  <a href="/static/site/contact.html"><img class="advertisingImg" src="/static/site/images/Advertising.png"/></a>-->
  </div>
</body>
</html>

